<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center border-title">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Inventory Management
      </h3>
      <!--<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
              <a href="#" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
              </a>
          </li>
          <li class="m-nav__separator">
              -
          </li>
          <li class="m-nav__item">
              <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">
                      Reports
                  </span>
              </a>
          </li>
          <li class="m-nav__separator">
              -
          </li>
          <li class="m-nav__item">
              <a href="" class="m-nav__link">
                  <span class="m-nav__link-text">
                      Revenue
                  </span>
              </a>
          </li>
      </ul>-->
    </div>
    <div class="row">
      <div style="margin-top: 5px">
        <span style="font-size:20px; margin-right:7px">Warehouse: </span>
      </div>
      <div style="margin-top: 2px; margin-right: 7px; width: 300px;">
        <ng-select-custom [Service]="WareHouseService" [Entity]="WareHouseSearchEntity.Name"
                          [BindProperty]="'Name'"
                          (Change)="WareHouseSearchEntity.Name = $event?.Name; Search(WareHouseSearchEntity)"
                          (keyup.enter)="Search(WareHouseSearchEntity)"
                          [IsSearch]="true" [Placeholder]="'Search...'"></ng-select-custom>
      </div>
      <button class="btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x" (click)="Add({Id: 0, IsEdit: true, WareHouseId: WareHouseEntity.Id})">
        <span>
          <i class="fa fa-plus"></i>
          <span>Add</span>
        </span>
      </button>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<!--BEGIN: Content-->
<div class="m-content">
  <div class="col-md-12">
    <div class="m-section">
      <table class="table table-bordered m-table m-table--border-metal table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Product</th>
            <th>Product Group</th>
            <th>Unit</th>
            <th>Date</th>
            <th>Current</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">#</td>
            <td>
              <ng-select-custom [Service]="ProductService" [Entity]="InventorySearchEntity.ProductId"
                                [BindProperty]="'Id'"
                                (Change)="InventorySearchEntity.ProductId = $event?.Id; Search(InventorySearchEntity)"
                                (keyup.enter)="Search(InventorySearchEntity)"
                                [IsSearch]="true" [Placeholder]="'Search...'"></ng-select-custom>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Search Current..." [(ngModel)]="InventorySearchEntity.Current"/>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Search Current..." [(ngModel)]="InventorySearchEntity.Current" />
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Search Current..." [(ngModel)]="InventorySearchEntity.Current" />
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Search Current..." [(ngModel)]="InventorySearchEntity.Current" />
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Search Current..." [(ngModel)]="InventorySearchEntity.Current" />
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Search Current..." [(ngModel)]="InventorySearchEntity.Current" />
            </td>
            <td class="button-crud">
              <div>
                <button class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" (click)="Search(IntroductionSearchEntity, false)">
                  <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only  m-btn--pill" (click)="Search(IntroductionSearchEntity, true)">
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let InventoryEntity of Entities; index as i">
            <td scope="row" class="text-center">{{i + 1}}</td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.ProductEntity?.Code}}</span>
              <ng-select *ngIf="InventoryEntity.IsEdit" [items]="ProductEntities"
                         bindValue="Id"
                         bindLabel="Code"
                         placeholder="Choose Product..."
                         [(ngModel)]="InventoryEntity.ProductId">
              </ng-select>
            </td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.Current}}</span>
            </td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.Current}}</span>
            </td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.Current}}</span>
            </td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.Current}}</span>
            </td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.Current}}</span>
            </td>
            <td>
              <span *ngIf="!InventoryEntity.IsEdit">{{InventoryEntity.Current}}</span>
            </td>
            <td class="button-crud">
              <div *ngIf="!InventoryEntity.IsEdit">
                <button class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                        data-toggle="m-tooltip" data-original-title="Delete" data-placement="right" data-skin="dark"
                        mwlConfirmationPopover [popoverTitle]="'Are you sure?'" placement="top" (confirm)="Delete(InventoryEntity)" (cancel)="cancelClicked = true">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
              <div *ngIf="InventoryEntity.IsEdit">
                <button class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                        data-toggle="m-tooltip" data-original-title="Save" data-placement="left" data-skin="dark" (click)="Save(InventoryEntity)">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                        data-toggle="m-tooltip" data-original-title="Cancel" data-placement="right" data-skin="dark" (click)="Cancel(InventoryEntity)">
                  <i class="fa fa-remove"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-paging [PagingModel]="PagingModel" [dot]="true" (onChanges)="Search()"></app-paging>
<!--END: Content-->
