<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center border-title">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        IssueNote Management
      </h3>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<!--BEGIN: Content-->
<div class="m-content">
  <div class="row">
    <div class="col-md-4">
      <div class="">
        <p style="margin-bottom: 0">Phiếu nhập số:</p>
        <input type="text" class="form-control" style="width: 100%" />
      </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <p style="margin-bottom: 0">Tên khách hàng:</p>
        <div style="display: flex">
          <input type="text" class="form-control" style="width: 88%; border-radius: 0.25em 0em 0em 0.25em;" />
          <button style="border-radius: 0em 0.25em 0.25em 0;" class="btn btn-success"><i class="fa fa-plus" style="margin-right: 4px"></i><i class="fa fa-user"></i></button>
        </div>
    </div>
    <div class="col-md-4">
        <p style="margin-bottom: 0">Mã khách hàng:</p>
        <input type="text" class="form-control" style="width: 100%" />
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="">
        <p style="margin-bottom: 0">Địa chỉ:</p>
        <textarea type="text" class="form-control" style="width: 100%"> </textarea>
      </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="">
        <p style="margin-bottom: 0">Mã số thuế:</p>
        <input type="text" class="form-control" style="width: 100%" />
      </div>
    </div>
    <div class="col-md-4">
      <p style="margin-bottom: 0">Điện thoại:</p>
      <input type="text" class="form-control" style="width: 100%" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p style="margin-bottom: 0">Diễn giải:</p>
      <textarea type="text" class="form-control" style="width: 100%"></textarea>
    </div>
  </div>
  <app-IssueNoteLine></app-IssueNoteLine>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="ui right aligned category search" style="margin-bottom: 17px; float: right">
        <button class="btn btn-success" style="margin-right:10px;"><i class="fa fa-check"></i> Gửi</button>
        <button class="btn btn-info" style="margin-right: 10px"><i class="fa fa-print"> In phiếu</i></button>
        <button class="btn btn-danger" style="margin-right:10px;"><i class="fa fa-times"></i> Hủy</button>
        <button class="btn btn-warning" style="color: white"><i class="fa fa-pencil"></i> Nhập lại</button>
      </div>
    </div>
  </div>
</div>
<!--END: Content-->
